@import url('https://fonts.googleapis.com/css2?family=Benne&family=Libre+Baskerville:ital@1&display=swap');

body{
    margin:0px;
    padding:0px;
    font-family:sans-serif;
    background-image: url("https://cdn.pixabay.com/photo/2021/12/09/11/53/empire-state-building-6858030__340.jpg");
    background-repeat: no-repeat;
    background-position:center;
    background-size:cover;
    min-height:100vh;

}

.navbar{
    /* background-color: #08085c; */
    width:100%;
    border:2px solid none;
}

.navbar ul{
    /* overflow:auto; */
    display:flex;
    /* flex-wrap: wrap; */
}

.navbar li{
   /* float:left; */
   list-style: none;
   margin:19px 20px;
}


.navbar a{
    padding:5px 5px;
    color:white;
    font-size: 1.1rem;
    text-decoration:none;
}

.navbar span{
    margin:12px ;
}


.search {
    /* float: right; */
    margin-top: 9px;
    margin-right: 13px;
    
}

.search input{
padding:9px;  
border: 2px solid rgb(4 124 161);
border-radius:15px;
}

.heading{
    float: left;
    color: white;
    margin: 14px 0px 0px 22px;
    font-family: 'Benne', serif;
    font-family: 'Libre Baskerville', serif;
}

.navbar li a:hover{
    padding:12px 13px;
    color:rgb(4 124 161);
    background-color: white;
    border-radius: 13px;
}
.heading:hover{
    padding: 13px 17px;
    color: rgb(4 124 161);
    margin-top:4px;
    background-color:white;
    border-radius: 13px;
    cursor:pointer;
}

#para2{
    position:absolute;
    top:70%;
    left:50%;
}




.qoute{
    text-align: center;
    color: white;
}


.cards
{
    display:flex;
    justify-content:space-evenly;
    align-items: center;
    flex-wrap:wrap;
}

.card{
    border:2px solid white;
    padding:8px 8px 14px 8px;
    border-radius:15px;
    max-width: 200px;
    max-height:500px;
    background-color: aliceblue;
    margin-top:15px;
    transition:all 1s ease-in-out ;
    cursor: pointer;
}

.card:hover{

    box-shadow: 8px 5px 4px rgb(41, 39, 39);
    transform:scale(1.03);   
    margin-bottom:20px;
}


.card img{
    width:200px;
    height:200px;
    border-radius: 10px;
}
.card img:hover{
    animation:umair 5s ease-in-out 20 backwards;

}

@keyframes umair {
    
    0%{
        object-fit:cover;
    }
    25%{
        opacity:0.5;
        object-fit:contain;
    }
    75%{
        opacity:0.3;
        object-fit:fill;
    }
    
}

.card p{
    color:black;
    word-wrap: break-word;
}



.navbar a.active{
    padding:12px 13px;
    color:rgb(4 124 161);
    background-color: white;
    border-radius: 13px;
    
}

.icon{
    float:right;
    display: none;
}

/*  Media Queries */

@media (max-width:660px) {


    .navbar{
        background-color: rgb(0, 0,0, .5) ;
        margin-top: -13px;

    }
    .navbar li {display:none;}
    .navbar li:nth-child(1){display:block;}
    .responsive a.active{display:block;}
    .icon{
        display:block;
        float:right;
    }
    .heading{
        padding:3px 0px 0px 6px;
    }
    .navbar li{
       margin:14px 8px;

    }

}



/* if responsive class is added to the navbar */
@media (max-width:660px){

     .responsive{
        display:flex;
        flex-direction: column;
        align-items: center;
        background-color: rgb(0, 0,0, .5) ;
    }

    .responsive ul li  a.active{
    padding: 12px 119px 12px 128px;
    color: rgb(4 124 161);
    background-color: white;
    border-radius: 13px;
    }

    .responsive a.icon{
        position:absolute;
        right:19px;
        top:12px;
    
     }

    .responsive li {
        float:none;
        display:block;
        flex-direction: column; 
        text-align:left;

    }
    .responsive ul{
        flex-direction: column;
        align-items: center;
        margin-top: 28px;
    }

}


.box{
display: grid;
grid-template-columns: repeat(auto-fit,minmax(200px,1fr));
/* grid-template-rows: repeat(2,1fr); */
background-color: rgb(8, 8, 50);
padding:20px;
border-radius:18px;
grid-column-gap:1.2rem;
grid-row-gap:1rem;
}

/* .items:first-child{
    /* grid-column-start:1;
    grid-column-end:3; */
     /* grid-row-start:1;
    grid-row-end:3;  */

    /* grid-column:1/3; 

} */


.items{
    border:2px solid whitesmoke;
    background-color: rgb(30 214 237);
    /* height:200px; */
    /* width:200px; */
    text-align: center;
    padding:10px;
    color:rgb(8, 8,5);
    border-radius:5px;
} 

.a-items{
    border:2px solid black;
    background-color: rgb(181, 101, 255);
    padding:12px;
}

.container{
    display:grid;
    grid-template-areas:
     'navbar navbar navbar'
    'aside section section';
    grid-column-gap:4px;
    grid-row-gap:4px;
}

#navbar{
    grid-area: navbar;
}
#section{
    grid-area: section;
}
#aside{
    grid-area: aside;
}